h1.title {
    margin-top: 141px;
    margin-bottom: -30px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px #ccc;
    font-size: 50px;
}
#content {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
    text-align: center;
}
.content-main {
    width: 370px;
    height: 423px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .5s;
    margin: 50px 0 50px 0;
}
.content-img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: .5s;
    backface-visibility: hidden;
}
.content-main:hover .content-img {
    transform: rotateX(-180deg);
}
.content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(180deg);
    transition: .5s;
    background-color: #fff;
    backface-visibility: hidden;
    border-radius: 10px;
    border-radius: 10px;
}

.content-main:hover .content-container {
    transform: rotateX(0deg);

}
.content-img> img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    animation: nhay .1s infinite;

}
h1 {
    margin-top: 200px;
    text-transform: capitalize;
    text-shadow: 0 0 10px #ccc;
    margin-bottom: 10px;
}
hr {
    height: 10px;
    background-image:linear-gradient(45deg,#0072ff,#00d2e8 17%,#04fd8f 34%,#70fd6c 51%,#dae11e 68%,#ff9346 85%,#ff62c6) ;
    margin: 0 0 20px 0;
}
.content-container>span,del {
    font-size: 20px;
    font-weight: bolder;
}
del {
    color: red;
    line-height: 2;
}
.content-icons i {
    font-size: 30px;
    margin: 10px;
    color: #101010d2;
    cursor: pointer;
}
.content-icons> i:hover {
    animation-name: lac;
    animation-play-state:running;
    animation-timing-function:ease;
    animation-duration:1.3s;
}

@keyframes lac {
    0%,20%,60%,80%,100%{
        transform: rotateZ(10deg);
    }
    10%,30%,70%,90%,50%{
        transform: rotateZ(-10deg);
    }
     40%{
        transform: rotateZ(0deg);
    }
}

@keyframes nhay {
    0% {
        box-shadow: 0 0 50px #fff;
    }
    100% {
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.637);
    }
}
